.datatable-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .info-footer-table {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 10px, 0px;
        padding: 0px;
        margin-top: 5px;
        border-bottom: 1px solid gray;


        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border-radius: 7px 7px 0px 0px;
            background: var(--colors-theme-table);
            font-size: 13px;


            .btn {
                border: 1px solid var(--colors-theme-table);
                border-radius: 0px;
                font-weight: 400;
                background: var(--colors-theme-table);
                color: var(--colors-theme-table-font-invert);
                padding: 2px 2px;
                width: 28px;
                height: 28px;
                border-radius: 4px;
                margin: 0px 1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .active,
            .btn:hover {
                background: var(--colors-theme-table-hover);
                color: var(--colors-theme-table-font);
            }

            .pagination-empty {
                background: #34458700;
                color: var(--colors-theme-table);
                border: 1px solid var(--colors-theme-table);

                &:hover {
                    background: none;
                }
            }

            .count-tabs {
                display: flex;
                flex-direction: row;
                justify-content: center;
                background: var(--colors-theme-table);
                color: var(--colors-theme-table-font-invert);
                margin-right: 7px;
                font-size: 13px;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0px;
                    margin-right: 5px;
                    color: var(--colors-theme-table-font-invert);
                    padding-left: 5px;
                    font-size: 13px;
                }

                select {
                    border: 1px solid var(--colors-theme-table);
                    background: var(--colors-theme-table);
                    color: var(--colors-theme-table-font-invert);
                    outline: none;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 13px;
                }
            }
        }

        .status {
            display: flex;
            padding: 0px 10px;
            font-size: 13px;
            color: var(--colors-theme-table-font-invert);
            background: var(--colors-theme-table);
            justify-content: center;
            align-items: center;
            border-radius: 10px 10px 0px 0px;
        }
    }

    .info-header-table {
        padding: 5px 0px;
        display: flex;
        flex-direction: row;
        // border-bottom: 1px solid var(--colors-theme-table);
        margin: 7px;
        font-size: 13px;

        .limited-select {
            padding: 0px;
            display: flex;
            align-content: center;
            flex-wrap: wrap;
        }

        .limited-info {
            // border-bottom: 1px solid var(--colors-theme-table);
            // border-top: 1px solid var(--colors-theme-table);
            padding: 0px;
            padding-left: 5px;
            padding-right: 5px;

            select {
                padding: 5px 2px;
                margin: 0 3px;
                color: var(--colors-theme-table-font-invert);
                background: var(--colors-theme-table);
                padding-left: 5px;
                border-radius: 5px;
                border: none;
                outline: none;
                // height: 35px;
            }
        }

        .colors {
            padding: 0px 10px;
            border-bottom: 1px solid var(--colors-theme-table);
            border-top: 1px solid var(--colors-theme-table);

            p {
                margin: 0px;
                font-size: 11px;
            }
        }

        .select-multi-block {
            border-bottom: 1px solid var(--colors-theme-table);
            border-top: 1px solid var(--colors-theme-table);
        }

        .block-buttons {
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: row;

            button {
                cursor: pointer;
                background: var(--colors-theme-table);
                color: var(--colors-theme-table-font-invert);
                border: none;
                height: 100%;

                &:hover {
                    background: var(--colors-theme-table-hover);
                }
            }
        }
    }

    table {
        color: var(--colors-theme-table-font) !important;
        border-collapse: collapse;
        min-height: 80px;

        th,
        td {
            padding: 10px 10px; // Отступы внутри ячеек
            text-align: left; // Выравнивание текста в ячейках
            min-width: 80px;
            font-size: 14px;
        }

        [name=filter] {
            input[name=search] {
                border-radius: 0px;
                outline: none;
                border: none;
                outline: 2px solid var(--colors-theme-table-font-invert);
                max-width: 800px;
            }

            input[name=search]:focus {
                box-shadow: none;
            }
        }

        td {
            color: var(--colors-theme-table-font-td);
        }



        thead {
            top: 0px;
            position: sticky; // Закрепляет элемент

            tr {
                background-color: var(--colors-theme-table); // Цвет фона заголовка
                color: var(--colors-theme-table-font-invert); // Цвет текста заголовка
            }
        }

        tbody {
            position: relative;

            .not-found {
                text-align: center;
                padding: 20px;
                font-size: 18px;
                color: var(--colors-theme-table-font);
                /* Цвет текста (можно изменить) */
                position: absolute;
                /* Позиционируем абсолютно */
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            tr:nth-of-type(even) {
                background-color: var(--colors-theme-table-line);
            }

            tr:hover {
                background-color: var(--colors-theme-table-line-hover);
            }
        }
    }
}
