footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--footer-background);
  flex: 1;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  overflow: hidden;
  color: white;

  .footer-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*max-width: 1200px;*/
    flex: 1;
    padding: 10px 20px;
    justify-content: space-between;

    .right-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .signature-site {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        padding: 10px;
        width: 100%;
        min-width: max-content;
        &::before {
          display: block;
          content: " ";
          width: 15px;
          height: 15px;
          margin-right: 5px;
          background-image: url("./img/icons/copirete.svg");
          background-repeat: no-repeat;
          background-size: 13px 13px;
          background-position: center;
          background-position-x: 3px;
        }
      }
    }

    .menu-footer {
      padding: 17px 0;
      margin-left: 0px;

      ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-left: 0px;
        font-size: 14px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-left: 10px;
          padding-top: 5px;
          list-style-type: none;
          cursor: pointer;
        }
      }
    }
  }

  img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20px;
    top: 13px;
  }
}
