* {
    font-family: 'PT Sans', sans-serif;
}

.form {
    --blue: rgb(139, 139, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: min-content;
    position: relative;
    h4{
        color: #404557;
        margin-left: 15px;
    }
    .row {
        display: flex;
        flex-direction: row;
        width: 100%;

        .left {
           width: 60%;

            input[type=text],
            select,
            input[type=date] {
                min-width: 300px;
            }
        }
    }

    .quote {
        padding: 5px;
        color: #0086c1;
        background: rgba(0, 134, 193, 0.1);
        border-radius: 2px;
        font-size: 10px;
        margin-left: 16px;
    }

    &-block {
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 40%;
        min-width: max-content;
    }
    

    label {
        font-size: 13px;
        color: #757b92;
        padding: 4px 0px;

        span {
            color: red;
        }
    }

    input[type=text],
    select,
    input[type=date] {
        padding: 10px 7px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0);
        font-size: 14px;
        background: rgb(244 244 244);
        border-radius: 4px;
        color: rgb(126, 126, 126);
    }

    .radio-box {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding: 8px;
        border: 1px solid #ccc6;
        min-width: max-content;

        input {
            display: none;
        }

        .radio-year {
            background: #F1F2F4;
            display: grid;
            margin: 2px;
            flex-direction: row;
            grid-template-columns: 40px 124px 30px;
            grid-template-rows: auto 0px;
            justify-items: center;
            gap: 0px;
            align-items: center;
            cursor: pointer;
            padding: 2px;

            p {
                margin: 0px;
            }

            &:hover {
                color: #68BCFF;
            }

            &::after {
                margin-left: 5px;
                display: block;
                content: ' ';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #68BCFF;
            }
        }

        .check {
            color: #68BCFF;
            &::after {
                background: red;
            }
        }
    }
    .block-submit{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        padding-right: 20px;
        p{
            font-size: 10px;
            color: #5f6877;
            a{
                color: #0086c1;
            }
        }
        button[type=submit]{
            outline: none;
            padding: 10px;
            color:white;
            background: #009ADD;
            font-weight: 700;
            border: none;
            cursor: pointer;
            &:hover{
                background: #3ab2e6;
            }
        }
    }
    .in-err{
        border: 1px solid rgb(253 142 142) !important;
    }
    .error{
        display: flex;
        padding: 10px;
        border-radius: 2px;
        background: rgb(255, 196, 196);
        color: red;
        flex-direction: column;
        font-size: 10px;
        align-items: flex-end;
        width: 100%;
        margin-top: 10px;

        p{
            font-weight: 300;
            margin: 3px;
        }
    }
    .modal-open{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal{
        &-fone{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            backdrop-filter: blur(5px);
            justify-content: center;
            align-items: center;
            background: rgb(0 0 0 / 15%);
            p{
                margin-left: 10px;
            }
        }
        &-body{
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
             -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
             box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            display: flex;
            flex-direction: column;
            width: 550px;
            height: 500px;
            background: #fff ;
            border-radius: 10px;
            padding: 10px;
            justify-content: center;
            textarea{
                width: 100%;
                height: 300px;
            }
        }
        &-message{
            width: 100%;
            height: 100%;
        }
        &-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
            button{
                border: 1px solid black;
                background: none;
                padding: 10px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .form{
        .row{
            flex-direction: column;
            .quote{
                text-align: center;
            }
        }
        &-block{
            width: 100%;
        }
        .modal{
           &-body{
            width: 90%;
           }
        }
    }
}